.custom_modal .modal-content {
    background-color: #000;
    color: #fff;
    border: 1px solid white;
    overflow: hidden;
}
.custom_modal_img {
    grid-area: imgBody;
    object-fit: cover;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 0.4rem;
    background-color: white;
}

.formDiv {
    grid-area: formBody;
}

label {
    width: 100%;
}

label > div {
    border-bottom: 1px solid lightgray;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

input {
    margin-top: 10px;
    background-color: black;
    text-align: center;
    color: white;
}

input[type=text]:focus {
    outline-color: blue;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=file]{
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    word-break:break-all;
}

input[type=file]::file-selector-button {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
     background: black;
     color: white;
}

.editButton {
    grid-area: editBtn;
}